.idea/
.vscode/
/*.v
/*.bin
/project/*
!/project/plugins.sbt
/simWorkspace/
/target/
/tmp/
/tools/
/verbose.log
*~
*.swp
*.vcd
.kdev4/
*.kdev4
.bsp
/signals
/src/main/scala/riscv/plugins/cheriEncrypt/tests/outputs
/src/main/scala/riscv/plugins/cheriEncrypt/tests/objdump
/src/main/scala/riscv/plugins/cheriEncrypt/*.Orig
/src/main/scala/riscv/plugins/cheriEncrypt/ARCHIVED/*
*.vhd
//*.gtkw
/outputSims
*OLD
*.old
